body {
  margin: 0;
  padding: 0;
  background: black;
  color: #e98208;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  text-align: center;
  margin-top: 80px;
}

img {
  width: 180px;
  margin-bottom: 30px;
}

.text1 {
  font-size: 45px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.clock {
  font-size: 60px;
  letter-spacing: 5px;
  font-weight: bold;
  margin: 20px 0;
}

.text2 {
  font-size: 22px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}